<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>Guest List</h2>
      <table class="table">
        <thead>
        <tr>
          <th style="font-size: 16px; padding: 15px 20px;">Q No.</th>
          <th class="left">Name</th>
          <th class="left">Time Queued</th>
          <th class="left">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td> 1</td>
          <td class="left">Ema Cartwright</td>
          <td class="left">11:35</td>
          <td class="left">
            <clr-icon shape="check" style="color: green;"></clr-icon>
            &nbsp; <clr-icon shape="times" style="color: red;"></clr-icon>
          </td>
        </tr>
        <tr>
          <td> 2</td>
          <td class="left">Josette Whang</td>
          <td class="left">11:37</td>
          <td class="left">
            <clr-icon shape="check" style="color: green;"></clr-icon>
            &nbsp; <clr-icon shape="times" style="color: red;"></clr-icon>
          </td>
        </tr>
        <tr>
          <td> 3</td>
          <td class="left">Manual Devlin</td>
          <td class="left">11:38</td>
          <td class="left">
            <clr-icon shape="check" style="color: green;"></clr-icon>
            &nbsp; <clr-icon shape="times" style="color: red;"></clr-icon>
          </td>
        </tr>
        <tr>
          <td> 4</td>
          <td class="left">Justin Siegel</td>
          <td class="left">11:40</td>
          <td class="left">
            <clr-icon shape="check" style="color: green;"></clr-icon>
            &nbsp; <clr-icon shape="times" style="color: red;"></clr-icon>
          </td>
        </tr>
        <tr>
          <td> 5</td>
          <td class="left">John Wayne</td>
          <td class="left">11:41</td>
          <td class="left">
            <clr-icon shape="check" style="color: green;"></clr-icon>
            &nbsp; <clr-icon shape="times" style="color: red;"></clr-icon>
          </td>
        </tr>
        <tr>
          <td> 6</td>
          <td class="left">Lisa Carter</td>
          <td class="left">11:42</td>
          <td class="left">
            <clr-icon shape="check" style="color: green;"></clr-icon>
            &nbsp; <clr-icon shape="times" style="color: red;"></clr-icon>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>
