<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Current Headcount</h4>
                <div id="headcount-gauge"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Headcount Today</h4>
                <div style="height: 200px; text-align: center;"><br><br>
                  <h1 style="font-size: 50px;">{{ headcountToday }}</h1><br>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Demographic</h4>
                <div id="demographic-pie"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="'col-md-12">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Today's Headcount Over Time</h4>
              <div id="headcount-barchart"></div>
            </div>
          </div>
        </div>
        <!--<div class="'col-md-12">-->
          <!--<div class="card">-->
            <!--<div class="card-block">-->
              <!--<h4 class="card-title">Headcount Heat Map</h4>-->
              <!--<div id="headcount-heatmap"></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<br><br>
