<header class="header-6">
  <div class="branding" style='cursor: pointer;' routerLink="/dashboard">
    <h3 style="margin: 14px 10px; color: #6DDBEB;">
      <clr-icon shape="video-camera" class="is-solid"></clr-icon> <b>PlaceSub</b></h3>
  </div>
  <div class="header-nav">
    <a class="nav-link nav-text" routerLinkActive="active" routerLink="/dashboard/videostream">Video Stream</a>
    <a class="nav-link nav-text" routerLinkActive="active" routerLink="/dashboard/analytics">Analytics</a>
    <a class="nav-link nav-text" routerLinkActive="active" routerLink="/dashboard/queue">Queue</a>
  </div>
  <div class="header-actions">
    <a class="nav-link nav-icon">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</header>
